/* основний колір фону  #F5F4FA */
/* вторинний колір фону  #2F303A */

/* білий #FFFFFF */
/* чорний #000000 */
/* акцент #2196F3 */

/* основний колір тексту #212121 */
/* вторинний колір тексту #757575 */
:root {
    --primary-bg: #FFFFFF;
    --secondary-bg: #2F303A;
    --secondary-two-bg: #F5F4FA;
    --primary-text: #212121;
    --secondary-text: #757575;
    --black: #000000;
    --white: #FFFFFF;
    --accent: #2196F3;
    --line-header: #ECECEC;
    --icon-color: #AFB1B8;
    --portfolio-margin: 30px;
}

body {
    margin: 0;

    background-color: var(--primary-bg);
    color: var(--primary-text);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Контейнер */
.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 1200px;
    /* outline: 2px solid tomato; */
}

/* img */
.img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Header */
.header{
    border-bottom: 1px solid var(--secondary-two-bg);
}
.header .container{
    display: flex;
}
.nav{
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    color: var(--black);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.logo-part {
    color: var(--accent);
}

.logo:hover,
.logo:focus {
    color: var(--accent);
}


/* site-nav */
.site-nav{
    display: flex;
    margin-left: 93px;
}
.site-nav .item:not(:last-child),
.feedback-nav .item:not(:last-child){
    margin-right: 50px;
}



.site-nav .link {
    display: block;
    padding: 32px 0;
    

    color: var(--primary-text);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent);
}

.site-nav .link.current{
    color: var(--accent);
}
.link{
    text-decoration: none;
}

/* feedback-nav */
.feedback-nav{
    display: flex;
    margin-left: auto;
}
.feedback-nav .link{
    display: flex;
    align-items: center;
    padding: 32px 0;
    color: var(--secondary-text);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.feedback-nav .svg{
    fill: var(--secondary-text);
    margin-right: 10px;
}
.svg.envelope{
    width: 16px;
    height: 12px;
}
.svg.smartphone{
    width: 10px;
    height: 16px;
}
.feedback-nav .link:hover .svg,
.feedback-nav .link:focus .svg{
    fill: var(--accent);
}

.feedback-nav .link:hover,
.feedback-nav .link:focus {
    color: var(--accent);
}

/* button */
.button{
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 1px solid transparent;

    color: var(--white);
    background-color: var(--accent);


    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;  
    letter-spacing: 0.06em;
}
.button.primary{
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button:hover, .button:focus{
    color: var(--primary-text);
    background-color: var(--white);
}
.button.secondary{
    color: var(--primary-text);
    background-color: var(--secondary-two-bg);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.button.secondary:hover, 
.button.secondary:focus, 
.secondary.activ{
    color: var(--white);
    background-color: var(--accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



/* hero */
.hero{
    /* outline: 2px solid tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--secondary-bg);  
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/team.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: var(--white);

    text-align: center;
}
.hero-title{
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


/* section */
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--primary-text);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

/* features */
.section.section-features{
    padding-bottom: 47px;
}
.features {
    display: flex;
}
.features .item{
    width: calc((100% - 90px) / 4);
}
.features .item::before{
    display: block;
    content: "";  
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color:var(--secondary-two-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}
.item.antenna::before{
    background-image: url('../images/antenna.svg');
}
.item.clock::before{
    background-image: url(../images/clock.svg);
}
.item.diagram::before{
    background-image: url(../images/diagram.svg);
}
.item.astronaut::before{
    background-image: url(../images/astronaut.svg);
}
.features .item:not(:last-child){
    margin-right: 30px;
}

.feature-text{
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.feature{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

/* about us */
.section.section-about-us{
    padding-top: 47px;
}
.about-us{
    display: flex;
}
.about-us .item:not(:last-child){
    margin-right: 30px;
}

/* our team */
.teams{
    background-color: var(--secondary-two-bg);
}
.team{
    display: flex;
}
.employee-info{
    padding: 30px 32px;
}
.team .name{
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team .job{
    margin-top: 0;
    margin-bottom: 16px;

    color: var(--secondary-text);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}
.team .employee:not(:last-child){
    margin-right: 30px;
}
.team .employee{
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--white);
}

.social{
    display: flex;
    justify-content: space-between;
}
.social .link{
    display: inline-flex;
    padding: 12px;
    border-radius: 50%;
}
.social .svg{
    fill: var(--icon-color);
    width: 20px;
    height: 20px;
}
.social .link:hover, 
.social .link:focus{
    background-color: var(--accent);
}
.social .link:hover .svg,
.social .link:focus .svg{
    fill: var(--white);
}

/* Постійні клієнти */
.customers{
    display: flex;
}
.customers .item{
    width: calc((100% - 150px) / 6);
    height: 92px;
    
}
.customers .item:not(:last-child){
    margin-right: var(--portfolio-margin);
}
.customers .link{
    display: inline-flex;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
}
.customers .svg{
    fill: var(--icon-color);
}
.customers .link:hover,
.customers .link:focus{
    border-color: var(--accent);
}
.customers .link:hover .svg,
.customers .link:focus .svg{
    fill: var(--accent);
}


/* footer */
footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-bg);
}
footer .container{
    display: flex;
    align-items: baseline;
}
footer .group-nav:not(:last-child){
    margin-right: 70px;
}
footer .logo{
    
    color: var(--white);
}
.adress-nav{
    margin-top: 20px;
}
.footer-nav .link{
    color: rgba(255, 255, 255, 0.6);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.footer-nav .item:not(:last-child){
    margin-bottom: 9px;
}
.footer-nav .link:hover, .footer-nav .link:focus{
    color:var(--accent);
}
.footer-nav .adress{
    color: var(--white);
}
.social-list .title{
    margin: 0;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}
.social-list .social{
    justify-content:flex-start;
}
.social-list .item:not(:last-child){
    margin-right: 10px;
}
.social-list .link{
    background: rgba(255, 255, 255, 0.1);
}
.social-list .svg{
    fill: var(--white);
}


/* page Portfolio */

/* Nav */
.portfolio-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-nav .item:not(:last-child){
    margin-right: 8px;
}
/* portfolio */
.portfolios {
    display: flex;
    flex-wrap: wrap;
    /* outline: 1px solid teal; */
    margin-top: calc(-1 * var(--portfolio-margin));
    margin-left: calc(-1 * var(--portfolio-margin));
}
.portfolio{
    /* outline: 2px solid orchid; */
    /* width: calc((100% - 60px) / 3); */
    width: calc(100% / 3 - var(--portfolio-margin));
    margin-left: var(--portfolio-margin);
    margin-top: var(--portfolio-margin);
}
.portfolio-descr{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}
/* .portfolio:nth-child(3n){
    margin-right: 0px;
}
.portfolio:nth-last-child(-n+3){
    margin-bottom: 0px;
} */

.portfolios .link{
    text-decoration: none;
}
.portfolios .portfolio:hover, 
.portfolios .portfolio:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolios .title{
    margin-top: 0;
    margin-bottom: 4px;

    color: var(--primary-text);

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.portfolios .description{
    margin-top: 0;
    margin-bottom: 0;

    color: var(--secondary-text);
    
    font-size: 16px;
    line-height: 1.87;
}


/* Невидимий текст */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}